<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Logout</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
</head>

<body>

<div class="d-flex justify-content-center mt-4">
    <div class="w-25">

        <h1 class="text-center">Are you sure you want to log out?</h1>

        <div class="d-flex justify-content-around mt-4">

            <form th:method="POST" th:action="@{/logout}" class="d-flex justify-content-center" >
                <button type="submit" class="btn btn-dark">Log Out</button>
            </form>

            <a th:href="@{/users/profile}" class="btn btn-dark">Cancel</a>

        </div>

    </div>
</div>

</body>
</html>