<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>

<div th:fragment="content" class="border-bottom border-2 py-2 px-4 d-flex justify-content-around align-items-center">
    <a th:href="@{/}" class="text-white text-decoration-none bg-black px-3 py-2 rounded-1">
        <h1 class="m-0">BIKE REVIEWER</h1>
    </a>

    <div class="ms-3">

        <div class="d-flex justify-content-center">
            <a th:href="@{/users/profile}" sec:authorize="isAuthenticated()" class="text-white">
                <img th:src="@{/img/profile.png}" class="profile-icon" alt="Profile" draggable="false"/>
            </a>

            <a th:href="@{/admin}" sec:authorize="hasAnyAuthority('ADMIN', 'STUFF')" class="text-white">
                <img th:src="@{/img/admin-panel.png}" class="profile-icon ms-2" alt="Panel" draggable="false"/>
            </a>
        </div>

        <a th:href="@{/login}" sec:authorize="isAnonymous()">
            <img th:src="@{/img/login.png}" class="profile-icon" alt="Log In" draggable="false"/>
        </a>

    </div>
</div>

</body>
</html>