<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="paginationBar(page, currentSort, url, pageNumberParamName, sortParamName)">

    <th:block th:replace="~{fragments/navbar/pagination :: paginationBarWithQueryParam(${page}, ${currentSort}, ${null}, ${url}, ${pageNumberParamName}, ${sortParamName}, 'query')}"></th:block>

</div>

<div th:fragment="paginationBarWithQueryParam(page, currentSort, currentQuery, url, pageNumberParamName, sortParamName, queryParamName)">

    <nav th:if="${page.totalPages > 0}" th:with="urlWithParams=@{${url}(${sortParamName}=${currentSort}, ${queryParamName}=${currentQuery})}" class="d-flex justify-content-center mt-2">
        <ul class="pagination">

            <li th:class="${page.hasPrevious()} ? 'page-item': 'page-item disabled'">
                <a th:href="@{${urlWithParams}(${pageNumberParamName}=${page.number - 1})}"
                   class="page-link">❮</a>
            </li>

            <th:block
                    th:with="startPage=${(page.number > 5) ? (page.number - 4) : 0}, endPage=${(page.number < page.totalPages - 6) ? (page.number + 4) : (page.totalPages - 1)}">

                <th:block th:if="${startPage > 0}">
                    <li class="page-item">
                        <a th:href="@{${urlWithParams}(${pageNumberParamName} = 0)}" class="page-link">1</a>
                    </li>

                    <li class="page-item disabled">
                        <a class="page-link">...</a>
                    </li>
                </th:block>

                <li th:each="pageNumber : ${#numbers.sequence(startPage, endPage)}" th:class="${pageNumber == page.number} ? 'active page-item' : 'page-item'">
                    <a th:href="@{${urlWithParams}(${pageNumberParamName}=${pageNumber})}" th:text="${pageNumber + 1}" class="page-link"></a>
                </li>

                <th:block th:if="${endPage < page.totalPages - 1}">
                    <li class="page-item disabled">
                        <a class="page-link">...</a>
                    </li>

                    <li class="page-item">
                        <a th:href="@{${urlWithParams}(${pageNumberParamName}=${page.totalPages - 1})}"
                           th:text="${page.totalPages}" class="page-link"></a>
                    </li>
                </th:block>

            </th:block>

            <li th:class="${page.hasNext()} ? 'page-item': 'page-item disabled'">
                <a th:href="@{${urlWithParams}(${pageNumberParamName}=${page.number + 1})}"
                   class="page-link">❯</a>
            </li>

        </ul>
    </nav>

</div>

</body>
</html>