<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>Admin page: Users</title>
    <th:block th:replace="~{fragments/bootstrap :: bootstrap-link}"></th:block>
    <th:block th:replace="~{fragments/font :: font-link}"></th:block>
    <link th:href="@{/style/main.css}" rel="stylesheet"/>
</head>

<body>

<div th:replace="~{fragments/navbar/admin/header :: content}"></div>

<div class="d-flex justify-content-center">
    <div class="w-75 mb-4">

        <div class="d-flex justify-content-around align-items-center">

            <h1 class="text-center mb-4 mt-3">Users</h1>

            <a th:href="@{/users/admin/new}" class="btn btn-dark">Create new User</a>

        </div>

        <table class="table">

            <thead class="table-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Username</th>
                <th scope="col">Public name</th>
                <th scope="col">Role</th>
                <th scope="col">Status</th>
                <th scope="col" sec:authorize="hasAnyAuthority('ADMIN', 'STUFF')"></th>
                <th scope="col" sec:authorize="hasAuthority('ADMIN')"></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="user: ${users}">

                <th scope="row" th:text="${user.getId()}"></th>

                <th th:text="${user.getUsername()}"></th>
                <th th:text="${user.getPublicName()}"></th>
                <th th:text="${user.getRole()}"></th>

                <th>
                    <span th:if="${user.isEnabled()}" th:text="Enabled" class="text-success"></span>
                    <span th:unless="${user.isEnabled()}" th:text="Disabled" class="text-danger"></span>
                </th>

                <th>
                    <form th:method="PATCH" th:action="@{/users/admin/is-enabled/{id}(id=${user.getId()})}">
                        <button type="submit" class="btn btn-dark">
                            <span th:if="${user.isEnabled()}">Disable</span>
                            <span th:if="${!user.isEnabled()}">Enable</span>
                        </button>
                    </form>
                </th>

                <th>
                    <form th:method="DELETE" th:action="@{/users/admin/{id}(id=${user.getId()})}">
                        <button type="submit" class="btn btn-dark">Delete</button>
                    </form>
                </th>

            </tr>
            </tbody>

        </table>

    </div>
</div>

</body>
</html>