<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin page: Users</title>
    <th:block th:replace="~{fragments/bootstrap :: bootstrap-link}"></th:block>
    <th:block th:replace="~{fragments/font :: font-link}"></th:block>
    <link th:href="@{/style/main.css}" rel="stylesheet"/>
</head>

<body th:with="url = @{/users/admin}, pageNumberParamName = 'pageNumber', sortParamName = 'sort'">

<div th:replace="~{fragments/navbar/admin/header :: content}"></div>

<div class="d-flex justify-content-center">
    <div class="container mb-4">

        <div class="d-flex justify-content-around align-items-center">

            <h1 class="text-center mb-4 mt-3">Users</h1>

            <a th:href="@{/users/admin/new}" class="btn btn-dark btn-lg d-flex align-items-center justify-content-center h-100 rounded-circle p-2">
                <img src="/img/new.png" class="md-widget-icon" alt="Search" draggable="false">
            </a>

        </div>

        <table class="table">

            <thead class="table-dark">
            <tr th:with="thNameArr=${ {'ID', 'Username', 'Public name', 'Role', 'Status'} }, fieldParamArr=${ {'id', 'username', 'publicName', 'role', 'enabled'} }">

                <th th:replace="~{fragments/navbar/admin/sort :: thWithSort(${thNameArr}, ${fieldParamArr}, ${userPage.number}, ${sort}, ${url}, ${pageNumberParamName}, ${sortParamName})}"></th>

                <th scope="col" sec:authorize="hasAuthority('ADMIN')"></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="user: ${userPage.content}">

                <th scope="row" th:text="${user.getId()}"></th>

                <th th:text="${user.getUsername()}"></th>
                <th th:text="${user.getPublicName()}"></th>

                <th>
                    <div class="d-flex justify-content-start">

                        <span th:text="${user.getRole()}"></span>

                        <a th:href="@{/users/admin/role/edit/{id}(id=${user.getId()})}" sec:authorize="hasAuthority('ADMIN')" class="ms-2 text-black text-decoration-none">
                            <img src="/img/edit.png" class="sm-widget-icon" alt="Edit" draggable="false">
                        </a>

                    </div>
                </th>

                <th>
                    <div class="d-flex justify-content-start">

                        <span th:if="${user.isEnabled()}" th:text="Enabled" class="text-success"></span>
                        <span th:unless="${user.isEnabled()}" th:text="Disabled" class="text-danger"></span>

                        <form sec:authorize="hasAnyAuthority('ADMIN', 'STUFF')" th:action="@{/users/admin/is-enabled/{id}(id=${user.getId()})}" th:method="PATCH" class="ms-2">
                            <button type="submit" class="border-0 p-0 bg-white">

                                <img th:if="${user.isEnabled()}" src="/img/toggle-on.png" class="md-widget-icon" alt="Toggle" draggable="false">
                                <img th:unless="${user.isEnabled()}" src="/img/toggle-off.png" class="md-widget-icon" alt="Toggle" draggable="false">

                            </button>
                        </form>

                    </div>
                </th>

                <th>
                    <form th:method="DELETE" th:action="@{/users/admin/{id}(id=${user.getId()})}">
                        <button type="submit" class="btn btn-dark">Delete</button>
                    </form>
                </th>

            </tr>
            </tbody>

        </table>

        <div th:replace="~{fragments/navbar/pagination :: paginationBar(${userPage}, ${sort}, ${url}, ${pageNumberParamName}, ${sortParamName})}"></div>

    </div>
</div>

</body>
</html>