<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <th:block th:replace="~{fragments/bootstrap :: bootstrap-link}"></th:block>
    <th:block th:replace="~{fragments/font :: font-link}"></th:block>
    <link th:href="@{/style/main.css}" rel="stylesheet"/>
    <link th:href="@{/style/stars-rating-read.css}" rel="stylesheet"/>
</head>

<body>

<div th:replace="~{fragments/navbar/header :: content}"></div>

<div class="d-flex justify-content-center mt-4">

    <div class="w-25">

        <div class="border border-black rounded p-4">

            <h1 class="text-center">Profile</h1>

            <p class="text-center bold">
                <span th:if="${user.isEnabled()}" class="text-success">ENABLED</span>
                <span th:unless="${user.isEnabled()}" class="text-danger">DISABLED</span>
            </p>

            <p th:text="${'Username: ' + user.getUsername()}"></p>

            <p th:text="${'Public name: ' + user.getPublicName()}"></p>

            <p th:text="${'Role: ' + user.getRole()}"></p>

            <div class="d-flex justify-content-center">
                <a th:href="@{/logout}" class="btn btn-dark">Log Out</a>
            </div>

        </div>
    </div>
</div>

<div th:with="reviews=${reviewPage.content}" class="d-flex justify-content-center mt-3">
    <div class="w-50">

        <div class="d-flex justify-content-between mt-4 mb-2">

            <h3 class="mb-0">Reviews (<span th:text="${user.getReviews().size()}"></span>):</h3>

            <div class="d-flex justify-content-end">
                <form th:method="GET" th:action="@{/users/profile}" class="d-flex justify-content-end">

                    <select class="form-select" name="reviewSort">
                        <option th:value="${null}">--Sort type--</option>
                        <option value="publicationDate:desc" th:selected="${currentReviewSort == 'publicationDate:desc'}">↓Date</option>
                        <option value="publicationDate:asc" th:selected="${currentReviewSort == 'publicationDate:asc'}">↑Date</option>
                        <option value="rating:desc" th:selected="${currentReviewSort == 'rating:desc'}">↓Rating</option>
                        <option value="rating:asc" th:selected="${currentReviewSort == 'rating:asc'}">↑Rating</option>
                    </select>

                    <input type="hidden" name="reviewPageNumber" th:value="${currentReviewPageNumber}">

                    <button type="submit" class="btn btn-dark ms-1">Sort</button>

                </form>
            </div>

        </div>

        <div th:each="review: ${reviews}" class="border border-black rounded p-3 mt-2 d-flex">

            <img th:src="@{/img/motorcycle.png}" alt="Motorcycle" class="motorcycle-icon me-3" draggable="false">

            <div>
                <strong th:text="${review.motorcycle.getBrand().getName() + ' ' + review.motorcycle.getModel()}"></strong>
                <small th:text="${#temporals.format(review.getPublicationDate(), 'd MMMM yyyy')}"
                       class="ms-2 text-muted"></small> <br>

                <meter class="average-rating" min="0" max="5"
                       th:value="${review.getRating()}"></meter>

                <p th:utext="${#strings.replace(#strings.escapeXml(review.body),'&#10;','&lt;br&gt;')}" class="m-0"></p>
            </div>
        </div>

        <div th:replace="~{fragments/navbar/pagination :: paginationBar(${reviewPage}, ${currentReviewPageNumber}, ${currentReviewSort}, ${'/users/profile'}, 'reviewPageNumber', 'reviewSort')}"></div>

    </div>
</div>

<script th:src="@{/script/stars-rating-read.js}"></script>
</body>
</html>