<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Review</title>
</head>
<body>

<div th:fragment="userReviewTemplate(review, currentReviewPageNumber, currentReviewSort, reviewPageNumberParamName, reviewSortParamName)"
     class="border border-black rounded p-3 mb-2 d-flex">

    <img th:src="${review.user.image != null ? review.user.image.url : '/img/user.png'}" alt="User" class="user-icon me-3" draggable="false">

    <div class="w-100">
        <div class="d-flex justify-content-between">
            <div class="mb-1 me-1">
                <strong th:text="${review.user.getPublicName()}" class="text-break me-2"></strong>
                <small th:text="${review.publicationDate.year == #temporals.createNow().year ?
                #temporals.format(review.publicationDate, 'd MMMM') :
                #temporals.format(review.publicationDate, 'd MMMM yyyy')}"
                       class="text-muted text-nowrap"></small><br>
            </div>

            <div>
                <form th:method="PATCH" th:action="@{/reviews/reaction}" class="d-flex justify-content-center">
                    <input type="hidden" name="reviewId" th:value="${review.getId()}">

                    <button type="submit" name="isLike" th:value="${true}" class="btn p-0">
                        <img src="/img/like.png" class="reaction-icon" alt="Like" draggable="false">
                    </button>
                    <span th:text="${review.getLikes()}" class="text-success mx-1"></span>
                    <button type="submit" name="isLike" th:value="${false}" class="btn p-0 ms-2">
                        <img src="/img/dislike.png" class="reaction-icon" alt="Dislike" draggable="false">
                    </button>
                    <span th:text="${review.getDislikes()}" class="text-danger mx-1"></span>


                    <input type="hidden" th:name="${reviewPageNumberParamName}" th:value="${currentReviewPageNumber}">
                    <input type="hidden" th:name="${reviewSortParamName}" th:value="${currentReviewSort}">
                </form>

            </div>

        </div>

        <div class="d-flex justify-content-between">

            <div>
                <div class="d-flex">
                    <meter class="average-rating d-flex align-items-center" min="0" max="5"
                           th:value="${review.getRating()}"></meter>
                </div>

                <p th:utext="${#strings.replace(#strings.escapeXml(review.body),'&#10;','&lt;br&gt;')}" class="text-break m-0 mt-1"></p>
            </div>


            <form sec:authorize="hasAnyAuthority('ADMIN', 'STUFF')" th:method="DELETE"
                  th:action="@{/reviews/{id}(id=${review.getId()})}" class="d-flex justify-content-end mt-3">
                <input type="hidden" name="motorcycleId" th:value="${review.motorcycle.getId()}">

                <button type="submit" class="bg-white border-0 p-0 text-decoration-none md-widget-icon">
                    <img th:src="@{/img/delete.png}" class="md-widget-icon img-fluid" alt="Delete" draggable="false">
                </button>
            </form>

        </div>

    </div>
</div>


<div th:fragment="motorcycleReviewTemplate(review)" class="border border-black rounded p-2 mt-2 d-flex">

    <img th:src="${review.motorcycle.image != null ? review.motorcycle.image.url : '/img/motorcycle.png'}"
         alt="Motorcycle" class="motorcycle-icon me-3" draggable="false">

    <div class="w-100">
        <div class="d-flex justify-content-between">
            <div class="mb-1 me-1">
                <a th:href="@{/motorcycles/{id}(id=${review.motorcycle.getId()})}"
                   class="text-black text-decoration-none me-2">
                    <strong th:text="${review.motorcycle.getBrand().getName() + ' ' + review.motorcycle.getModel()}"
                            class="text-break"></strong>
                </a>
                <small th:text="${review.publicationDate.year == #temporals.createNow().year ?
                #temporals.format(review.publicationDate, 'd MMMM') :
                #temporals.format(review.publicationDate, 'd MMMM yyyy')}"
                       class="text-muted text-nowrap"></small><br>
            </div>

            <div class="d-flex align-items-center mt-1">
                <img src="/img/like.png" class="reaction-icon" alt="Like" draggable="false">
                <span th:text="${review.getLikes()}" class="text-success mx-1"></span>

                <img src="/img/dislike.png" class="reaction-icon ms-2" alt="Dislike" draggable="false">
                <span th:text="${review.getDislikes()}" class="text-danger mx-1"></span>
            </div>
        </div>

        <div class="d-flex justify-content-between">

            <div>
                <div class="d-flex">
                    <meter class="average-rating d-flex align-items-center" min="0" max="5"
                           th:value="${review.getRating()}"></meter>
                </div>

                <p th:utext="${#strings.replace(#strings.escapeXml(review.body),'&#10;','&lt;br&gt;')}" class="text-break m-0"></p>
            </div>

            <form th:method="DELETE" th:action="@{/users/profile/review/{id}(id=${review.getId()})}" class="d-flex justify-content-end mt-3">

                <button type="submit" class="bg-white border-0 p-0 text-decoration-none md-widget-icon">
                    <img th:src="@{/img/delete.png}" class="md-widget-icon img-fluid" alt="Delete" draggable="false">
                </button>
            </form>

        </div>

    </div>
</div>

</body>
</html>