<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <th:block th:replace="~{fragments/bootstrap :: bootstrap-link}"></th:block>
    <th:block th:replace="~{fragments/font :: font-link}"></th:block>
    <link th:href="@{/main.css}" rel="stylesheet" />
</head>

<body>

<div th:replace="~{fragments/navbar/header :: content}"></div>

<div class="text-center mt-4">

    <h2 th:text="${errorDetails.getHttpStatus()}"></h2>
    <p th:text="${#temporals.format(errorDetails.getTimestamp(), 'dd-M-yyyy HH:mm:ss')}"></p>
    <p th:text="${errorDetails.getMessage()}"></p>

</div>

</body>
</html>