<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Motorcycles</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="container mt-4">

    <div class="row gap-3">
        <a class="col-sm-12 col-md-4 col-lg-2 border border-black rounded d-flex align-items-center flex-column text-decoration-none text-black"
           th:each="motorcycle: ${motorcycles}" th:href="@{/motorcycles/{id}(id=${motorcycle.getId()})}">

            <div class="d-flex flex-column align-items-center">
                <p th:text="${motorcycle.getBrand().getName()}"></p>
                <p th:text="${motorcycle.getModel()}"></p>
            </div>

        </a>
    </div>

</div>

</body>
</html>