<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Motorcycles</title>
    <th:block th:replace="~{fragments/bootstrap :: bootstrap-link}"></th:block>
    <th:block th:replace="~{fragments/font :: font-link}"></th:block>
    <link th:href="@{/style/main.css}" rel="stylesheet"/>
    <link th:href="@{/style/stars-rating-read.css}" rel="stylesheet"/>
</head>

<body>

<div th:replace="~{fragments/navbar/header :: content}"></div>

<div class="container my-4">

    <div th:with="linkTextArr=${ {'Popularity', 'Rating', 'A→Z', 'Z→A'} }, sortArr=${ {'reviewsAmount:desc', 'avgRating:desc', 'brand.name:asc, model:asc', 'brand.name:desc, model:desc'} }, url = @{/motorcycles}" class="d-flex justify-content-between">

        <form method="GET" th:action="@{/motorcycles}" class="d-flex align-items-center">
            <input type="text" name="q" th:value="${currentQuery}" class="form-control" placeholder="Search">

            <input type="hidden" name="pageNumber" th:value="${0}">
            <input type="hidden" name="sort" th:value="${currentSort}">

            <button type="submit" class="btn btn-dark ms-1">
                <img src="/img/search.png" class="search-icon" alt="Search Icon">
            </button>
        </form>

        <div th:replace="~{fragments/navbar/sort :: sortSelectorWithQueryParam(${linkTextArr}, ${sortArr}, ${currentPageNumber}, ${currentSort}, ${currentQuery}, ${url}, 'pageNumber', 'sort', 'q')}"></div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-3 d-flex align-items-center flex-column p-2"
             th:each="motorcycle: ${motorcyclePage.content}">

            <a class="d-flex flex-column align-items-center border border-black rounded text-decoration-none text-black p-3 h-100"
               th:href="@{/motorcycles/{id}(id=${motorcycle.getId()})}">

                <img th:src="@{/img/motorcycle.png}" class="img-thumbnail border-0 mb-1" alt="Motorcycle" draggable="false">
                <h4 th:text="${motorcycle.getBrand().getName() + ' ' + motorcycle.getModel()}"
                      class="text-center mb-1"></h4>

                <div class="d-flex justify-content-between w-100">

                    <div class="d-flex justify-content-start align-items-center">

                        <small th:text="${motorcycle.getAvgRating() != null ? #numbers.formatDecimal(motorcycle.getAvgRating(), 1, 1) : '0.0'}"
                               class="text-muted me-1"></small>

                        <meter class="average-rating d-flex align-items-center" min="0" max="5" th:value="${motorcycle.getAvgRating()}"></meter>

                    </div>

                    <small class="text-muted">
                        <span th:text="${motorcycle.getReviewsAmount()}"></span> review<span
                            th:if="${motorcycle.getReviewsAmount() != 1}">s</span>
                    </small>

                </div>

            </a>

        </div>
    </div>

    <div th:replace="~{fragments/navbar/pagination :: paginationBarWithQueryParam(${motorcyclePage}, ${currentPageNumber}, ${currentSort}, ${currentQuery}, @{/motorcycles}, 'pageNumber', 'sort', 'q')}"></div>

</div>

<script th:src="@{/script/stars-rating-read.js}"></script>
</body>
</html>