<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Motorcycle</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="d-flex justify-content-center mt-5">
    <div class="w-50">

        <h1 th:text="${motorcycle.getBrand().getName() + ' ' + motorcycle.getModel()}"></h1>
        <p th:text="${'Country: ' + motorcycle.getBrand().getCountry()}"></p>

        <h4 class="mt-4">Describe your opinion:</h4>

        <form th:method="POST" th:action="@{/review}" th:object="${newReview}">

            <textarea class="form-control mb-2" rows="5" cols="50" th:field="*{body}"
                      style="font-family: Arial,sans-serif;"></textarea>

            <input type="hidden" name="motorcycle" th:value="${motorcycle.getId()}">

            <input type="submit" class="btn btn-primary" value="Post review">

        </form>

        <h3 class="mt-3">Reviews:</h3>

        <div th:each="review: ${reviews}" class="border border-black rounded p-2 mb-2">
            <strong th:text="${review.user.getPublicName()}"></strong><br>
            <p th:utext="${#strings.replace(#strings.escapeXml(review.body),'&#10;','&lt;br&gt;')}" class="m-0"></p>

        </div>


    </div>
</div>

</body>
</html>