<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Motorcycle</title>
</head>
<body>
<h1 th:text="${'Motorcycle #' + motorcycle.getId()}"></h1>
<p th:text="${'Brand: ' + motorcycle.getBrand().getName()}"></p>
<p th:text="${'Model: ' + motorcycle.getModel()}"></p>
<p th:text="${'Country: ' + motorcycle.getBrand().getCountry()}"></p>

<h4>Describe your opinion:</h4>

<form th:method="POST" th:action="@{/review}" th:object="${newReview}">

    <textarea rows="5" cols="50" th:field="*{body}" style="margin-bottom: 5px; font-family: Arial,sans-serif;"></textarea>

    <input type="hidden" name="motorcycle" th:value="${motorcycle.getId()}">

    <br>
    <input type="submit" value="Post your review">

    <h3 style="margin-top: 40px; ">Reviews:</h3>

    <div th:each="review: ${reviews}" style="border: 1px solid; margin-bottom: 8px; padding: 4px; width: 50%;">
        <strong th:text="${review.user.getPublicName()}"></strong><br>
        <p th:text="${review.body}"></p>
    </div>

</form>


</body>
</html>