<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Motorcycle</title>
    <th:block th:replace="~{fragments/bootstrap :: bootstrap-link}"></th:block>
    <th:block th:replace="~{fragments/font :: font-link}"></th:block>
    <link th:href="@{/style/main.css}" rel="stylesheet"/>
    <link th:href="@{/style/stars-rating-select.css}" rel="stylesheet"/>
    <link th:href="@{/style/stars-rating-read.css}" rel="stylesheet"/>
</head>

<body th:with="url = @{/motorcycles/{id}(id=${motorcycle.id})}, reviewPageNumberParamName = 'reviewPageNumber', reviewSortParamName = 'reviewSort'">

<div th:replace="~{fragments/navbar/header :: content}"></div>

<div class="d-flex justify-content-center mt-5">
    <div class="w-50">

        <div class="d-flex justify-content-center mt-2">
            <img th:src="${motorcycle.imgUrl ?: '/img/motorcycle.png'}" class="motorcycle-img" alt="motorcycle-img" draggable="false">
        </div>

        <div class="d-flex justify-content-start my-2">
            <img th:src="${motorcycle.brand.imgUrl ?: '/img/brand.png'}" class="brand-img" alt="brand-img" draggable="false">
        </div>

        <div class="d-flex justify-content-between">
            <div>
                <h1 th:text="${motorcycle.getBrand().getName() + ' ' + motorcycle.getModel()}"></h1>
                <p th:text="${'Country: ' + motorcycle.getBrand().getCountry()}"></p>
            </div>

            <div>
                <small th:text="${motorcycle.getAvgRating() != null ? #numbers.formatDecimal(motorcycle.getAvgRating(), 1, 1) : '0.0'}"
                       class="text-muted me-1"></small>
                <meter class="average-rating" min="0" max="5"
                       th:value="${motorcycle.getAvgRating()}"></meter>
            </div>
        </div>


        <div class="border border-black rounded p-3 border-2">

            <h4>Your review:</h4>

            <form th:if="${currentUserReview == null}" th:method="POST" th:action="@{/reviews}"
                  th:object="${newReview}">

                <div class="d-flex justify-content-start">
                    <div class="d-flex flex-row-reverse">

                        <th:block th:each="i: ${#numbers.sequence(newReview.MAX_RATING, newReview.MIN_RATING)}">
                            <input th:field="*{rating}" class="radio-input" type="radio" th:id="${'star' + i}"
                                   name="star-input"
                                   th:value="${i}"/>
                            <label class="radio-label" th:for="${'star' + i}"></label>
                        </th:block>

                    </div>
                </div>
                <div th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}"
                     class="form-text text-danger mb-1 mt-0"></div>

                <label for="review-body">Describe your opinion: </label>
                <textarea class="form-control" id="review-body" rows="5" cols="50" th:field="*{body}"></textarea>
                <div th:if="${#fields.hasErrors('body')}" th:errors="*{body}" class="form-text text-danger"></div>

                <input type="hidden" name="motorcycle" th:value="${motorcycle.getId()}">

                <input type="hidden" th:name="${reviewPageNumberParamName}" th:value="${reviewPage.number}">
                <input type="hidden" th:name="${reviewSortParamName}" th:value="${reviewSort}">

                <input type="submit" class="btn btn-dark mt-2" value="Post review">

            </form>

            <div th:unless="${currentUserReview == null}">
                <div th:replace="~{fragments/review :: userReviewTemplate(${currentUserReview}, ${reviewPage.number}, ${reviewSort}, ${reviewPageNumberParamName}, ${reviewSortParamName})}"></div>
            </div>

        </div>

        <div th:with="linkTextArr=${ {'↓Date', '↑Date', '↓Rating', '↑Rating'} }, sortArr=${ {'publicationDate:desc', 'publicationDate:asc', 'rating:desc', 'rating:asc'} }"
             class="d-flex justify-content-between mt-4 mb-2">

            <h3 class="mb-0">Reviews (<span th:text="${motorcycle.getReviewsAmount()}"></span>):</h3>

            <div th:replace="~{fragments/navbar/sort :: sortSelector(${linkTextArr}, ${sortArr}, ${reviewPage.number}, ${reviewSort}, ${url}, ${reviewPageNumberParamName}, ${reviewSortParamName})}"></div>

        </div>

        <div th:each="review: ${reviewPage.content}">

            <div th:replace="~{fragments/review :: userReviewTemplate(${review}, ${reviewPage.number}, ${reviewSort}, ${reviewPageNumberParamName}, ${reviewSortParamName})}"></div>

        </div>

        <div th:replace="~{fragments/navbar/pagination :: paginationBar(${reviewPage}, ${reviewSort}, ${url}, ${reviewPageNumberParamName}, ${reviewSortParamName})}"></div>


    </div>
</div>

<script th:src="@{/script/stars-rating-read.js}"></script>
</body>
</html>