<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>Admin page: Brands</title>
    <th:block th:replace="~{fragments/bootstrap :: bootstrap-link}"></th:block>
    <th:block th:replace="~{fragments/font :: font-link}"></th:block>
    <link th:href="@{/style/main.css}" rel="stylesheet"/>
</head>

<body>

<div th:replace="~{fragments/navbar/admin/header :: content}"></div>

<div class="d-flex justify-content-center">
    <div class="w-75 mb-4">

        <div class="d-flex justify-content-around align-items-center">

            <h1 class="text-center mb-4 mt-3">Brands</h1>

            <a th:href="@{/brands/admin/new}" class="btn btn-dark">Create new Brand</a>

        </div>

        <table class="table">

            <thead class="table-dark">
            <tr th:with="thNameArr=${ {'ID', 'Name', 'Country'} }, fieldParamArr=${ {'id', 'name','country'} }, url = @{/brands/admin}, pageNumberParamName = 'pageNumber', sortParamName = 'sort'">

                <th th:replace="~{fragments/navbar/admin/sort :: thWithSort(${thNameArr}, ${fieldParamArr}, ${currentPageNumber}, ${currentSort}, ${url}, ${pageNumberParamName}, ${sortParamName})}"></th>

                <th scope="col" sec:authorize="hasAnyAuthority('ADMIN', 'STUFF')"></th>
                <th scope="col" sec:authorize="hasAuthority('ADMIN')"></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="brand: ${brandPage.content}">

                <th scope="row" th:text="${brand.getId()}"></th>

                <th th:text="${brand.getName()}"></th>
                <th th:text="${brand.getCountry()}"></th>
                <th sec:authorize="hasAnyAuthority('ADMIN', 'STUFF')">
                    <a th:href="@{/brands/admin/edit/{id}(id=${brand.getId()})}" class="btn btn-dark">Edit</a>
                </th>

                <th sec:authorize="hasAuthority('ADMIN')">

                    <form th:with="isEmpty=${brand.getMotorcycles().isEmpty()}, size=${brand.getMotorcycles().size()}"
                          th:method="DELETE" th:action="@{/brands/admin/{id}(id=${brand.getId()})}">

                        <button th:disabled="${!isEmpty}" type="submit" class="btn btn-dark">Delete</button>
                        <br>

                        <small th:if="${isEmpty}" class="form-text text-success">Ready to be removed</small>

                        <small th:unless="${isEmpty}" class="form-text text-danger">
                            <span th:text="${size}"></span> motorcycle<span th:if="${size > 1}">s</span> associated
                        </small>

                    </form>

                </th>

            </tr>
            </tbody>

        </table>

        <div th:replace="~{fragments/navbar/pagination :: paginationBar(${brandPage}, ${currentPageNumber}, ${currentSort}, @{/brands/admin}, 'pageNumber', 'sort')}"></div>

    </div>
</div>

</body>
</html>